 <div class="container">
        <header>
            <div class="logo">
                <i class="fas fa-gamepad"></i>
                <p>The Game Zone</p>
            </div>
            <ul class="navbar">
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="video.html">PREAMBLE</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="/rank">RANK</a></li>
                <li><a href="/login">LOGIN</a>/<a href="register.html">REGISTER</a></li>
            </ul>
        </header>
        <div class="tableRank">
            <table border="1">
                <thead>
                    
                    <tr>
                        <th>Tên</th>
                        <th>Màn</th>
                        <th>Điểm</th>
                        <th>Coin</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each result}}
                    <tr>
                        <td>{{this.id_user.name}}</td>
                        <td>{{this.man}}</td>
                        <td>{{this.diem}}</td>
                        <td>{{this.coin}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    
        </div>