<div class="box">
    <div class="container">
        <div class="top-header">
            <span>Have an acount ?</span>
            <header>Login</header>
        </div>
        <form class="user" method="post" action="/login">
            <div class="input-field">
                <input type="email" class="input" placeholder="Email" name="email" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-field">
                <input type="password" class="input" placeholder="Password" name="password" required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <button type="submit">
                 Login
            </button>
        </form>
        <div class="bottom">
            <div class="left">
                <input type="checkbox" id="check">
                <label for="check">Remember Me</label>
            </div>
            <div class="Right">
                <label><a href="#">Forgot a Password ?</a></label>
            </div>
        </div>
    </div>

</div>