<body>
    <h2>Đổi Mật Khẩu</h2>
    <form class="userr" action="/fogetpassword/{{id}}" method="post">
        <label for="currentPassword">Mật khẩu hiện tại:</label>
        <input type="password" id="currentPassword" name="password" required>
        <br>
        
        <label for="newPassword">Mật khẩu mới:</label>
        <input type="password" id="newPassword" name="newpass" required>
        <br>
        
        <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
        <input type="password" id="confirmPassword" name="repass" required>
        <br>

        <input type="submit" value="Đổi Mật Khẩu">
    </form>
</body>